.button {
  background-color: #3aa0e4;
  width: 95px;
  height: 45px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 50px;
}

.button:hover {
  background-color: #71b7e6;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.resumeButton {
  background-color: #1b18ce;
  width: 95px;
  height: 45px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  margin-left: 4px;
}

.resumeButton:hover {
  background-color: #5452e7;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.message {
  position: absolute;
  padding-top: 190px;
  text-align: center;
  width: 100%;
  margin: auto;
}