.button {
  /* display: block; */
  width: 95px;
  height: 45px;
  border: 1px solid #2563EB;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 40px;
}

.button:hover {
  background-color: #2563EB;
  color: white;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.message {
  padding: 250px 750px 0px 0px;
}

