.button {
  background-color: #008ce9;
  width: 95px;
  height: 45px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 50px;
}

.button:hover {
  background-color: #90d2fd;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.resumeButton {
  background-color: #008ce9;
  width: 95px;
  height: 45px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  margin-left: 4px;
}

.resumeButton:hover {
  background-color: #90d2fd;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.message {
  margin-left: 100px;
  padding: 250px 0px 15px 80px;
    /* position: relative; */
  /* border-bottom: 1px solid #eaeaea; */
  height: 100vh;

}